{% extends 'newsweb/base_layout.html' %}

{% block content %}

<!-- <div class="container"> -->
    <div class="row">
        {% for news in api.articles %}
            <div class="col-sm-3">

                <div class="card" style="width: 20 rem;">
                    <img src="{{ news.urlToImage }}" class="card-img-top" alt="{{ news.source.name }}">
                    <div class="card-body">
                        <h5 class="card-title"> {{ news.title }} </h5>
                        <p class="card-text text-justify"> {{ news.description|truncatechars:150 }} </p>
                        <a href="{{ news.url }}" target="_blank" class="btn btn-primary">Read more</a>
                    </div>
                </div>
                <br>

            </div>
        {% endfor %}
    </div>
<!-- </div> -->

{% endblock %}


